UIElementsSchema/Unity.UIToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.UIToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.UIToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEngine.xsd" namespace="UnityEngine" />
  <xs:complexType name="BackgroundSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundSizeStyleField" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:BackgroundSizeStyleFieldType" />
  <xs:complexType name="UxmlAttributeFieldDecoratorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeFieldDecorator" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:UxmlAttributeFieldDecoratorType" />
  <xs:complexType name="PositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q5:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="relative" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionStyleEnumField" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:BindableElement" type="tns:PositionStyleEnumFieldType" />
  <xs:complexType name="StyleFilterFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q7:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFilterField" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:BindableElement" type="tns:StyleFilterFieldType" />
  <xs:complexType name="StyleBackgroundFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q9:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundField" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:BindableElement" type="tns:StyleBackgroundFieldType" />
  <xs:complexType name="FieldAffordanceElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldAffordanceElement" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:FieldAffordanceElementType" />
  <xs:complexType name="StyleSheetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="style-sheet-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UISelectionObjectHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:VisualElementType">
        <xs:choice />
        <xs:attribute name="type-icon" type="xs:string" />
        <xs:attribute name="type-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UISelectionObjectHeader" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:VisualElement" type="tns:UISelectionObjectHeaderType" />
  <xs:element name="StyleSheetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:StyleSheetHeaderType" />
  <xs:complexType name="PositionAnchorsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="UnityEngine.UIElements" base="q15:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionAnchors" xmlns:q16="UnityEngine.UIElements" substitutionGroup="q16:VisualElement" type="tns:PositionAnchorsType" />
  <xs:complexType name="StyleFontFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="UnityEngine.UIElements" base="q17:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q17:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontField" xmlns:q18="UnityEngine.UIElements" substitutionGroup="q18:BindableElement" type="tns:StyleFontFieldType" />
  <xs:complexType name="StyleTransitionListViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="UnityEngine.UIElements" base="q19:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransitionListView" xmlns:q20="UnityEngine.UIElements" substitutionGroup="q20:VisualElement" type="tns:StyleTransitionListViewType" />
  <xs:complexType name="VisualElementHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="element-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualElementHeaderType" />
  <xs:complexType name="StyleMaterialDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="UnityEngine.UIElements" base="q21:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q21:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleMaterialDefinitionField" xmlns:q22="UnityEngine.UIElements" substitutionGroup="q22:BindableElement" type="tns:StyleMaterialDefinitionFieldType" />
  <xs:complexType name="TextGeneratorTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="UnityEngine.UIElements" base="q23:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q23:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="standard" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextGeneratorTypeStyleEnumField" xmlns:q24="UnityEngine.UIElements" substitutionGroup="q24:BindableElement" type="tns:TextGeneratorTypeStyleEnumFieldType" />
  <xs:complexType name="FontStyleStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="UnityEngine.UIElements" base="q25:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q25:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleStyleEnumField" xmlns:q26="UnityEngine.UIElements" substitutionGroup="q26:BindableElement" type="tns:FontStyleStyleEnumFieldType" />
  <xs:complexType name="CheckerboardBackgroundType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="UnityEngine.UIElements" base="q27:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckerboardBackground" xmlns:q28="UnityEngine.UIElements" substitutionGroup="q28:VisualElement" type="tns:CheckerboardBackgroundType" />
  <xs:complexType name="UICanvasDocumentRootType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="UnityEngine.UIElements" base="q29:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UICanvasDocumentRoot" xmlns:q30="UnityEngine.UIElements" substitutionGroup="q30:VisualElement" type="tns:UICanvasDocumentRootType" />
  <xs:complexType name="WrapStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="UnityEngine.UIElements" base="q31:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q31:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="nowrap" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WrapStyleEnumField" xmlns:q32="UnityEngine.UIElements" substitutionGroup="q32:BindableElement" type="tns:WrapStyleEnumFieldType" />
  <xs:complexType name="UxmlSerializedDataPropertyViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="UnityEngine.UIElements" base="q33:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlSerializedDataPropertyView" xmlns:q34="UnityEngine.UIElements" substitutionGroup="q34:BindableElement" type="tns:UxmlSerializedDataPropertyViewType" />
  <xs:complexType name="SliceTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="UnityEngine.UIElements" base="q35:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q35:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sliced" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SliceTypeStyleEnumField" xmlns:q36="UnityEngine.UIElements" substitutionGroup="q36:BindableElement" type="tns:SliceTypeStyleEnumFieldType" />
  <xs:complexType name="PositionFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="UnityEngine.UIElements" base="q37:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionFoldout" xmlns:q38="UnityEngine.UIElements" substitutionGroup="q38:VisualElement" type="tns:PositionFoldoutType" />
  <xs:complexType name="OpenInBuilderElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="UnityEngine.UIElements" base="q39:VisualElementType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenInBuilderElement" xmlns:q40="UnityEngine.UIElements" substitutionGroup="q40:VisualElement" type="tns:OpenInBuilderElementType" />
  <xs:complexType name="OverrideRowType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="UnityEngine.UIElements" base="q41:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideRow" xmlns:q42="UnityEngine.UIElements" substitutionGroup="q42:VisualElement" type="tns:OverrideRowType" />
  <xs:complexType name="SpacingBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpacingBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:SpacingBoxModelFieldType" />
  <xs:complexType name="EditorTextRenderingModeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="UnityEngine.UIElements" base="q43:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q43:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sdf" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTextRenderingModeStyleEnumField" xmlns:q44="UnityEngine.UIElements" substitutionGroup="q44:BindableElement" type="tns:EditorTextRenderingModeStyleEnumFieldType" />
  <xs:complexType name="JustifyStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="UnityEngine.UIElements" base="q45:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q45:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flexstart" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JustifyStyleEnumField" xmlns:q46="UnityEngine.UIElements" substitutionGroup="q46:BindableElement" type="tns:JustifyStyleEnumFieldType" />
  <xs:complexType name="TextOverflowPositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="UnityEngine.UIElements" base="q47:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q47:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="end" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowPositionStyleEnumField" xmlns:q48="UnityEngine.UIElements" substitutionGroup="q48:BindableElement" type="tns:TextOverflowPositionStyleEnumFieldType" />
  <xs:complexType name="UICanvasResizerHandleType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="UnityEngine.UIElements" base="q49:VisualElementType">
        <xs:choice />
        <xs:attribute default="Top" name="position" type="tns:UICanvasResizerHandle_AnchorType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UICanvasResizerHandle_AnchorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="TopRight" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="BottomRight" />
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="BottomLeft" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="TopLeft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UICanvasResizerHandle" xmlns:q50="UnityEngine.UIElements" substitutionGroup="q50:VisualElement" type="tns:UICanvasResizerHandleType" />
  <xs:complexType name="VisualTreeAssetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualTreeAssetHeaderType" />
  <xs:complexType name="TextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q51="UnityEngine.UIElements" base="q51:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q51:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignStyleEnumField" xmlns:q52="UnityEngine.UIElements" substitutionGroup="q52:BindableElement" type="tns:TextAlignStyleEnumFieldType" />
  <xs:complexType name="BackgroundPositionStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q53="UnityEngine.UIElements" base="q53:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="Horizontal" name="mode" type="q53:BackgroundPosition_AxisType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundPositionStyleField" xmlns:q54="UnityEngine.UIElements" substitutionGroup="q54:BindableElement" type="tns:BackgroundPositionStyleFieldType" />
  <xs:complexType name="VisibilityStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q55="UnityEngine.UIElements" base="q55:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q55:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibilityStyleEnumField" xmlns:q56="UnityEngine.UIElements" substitutionGroup="q56:BindableElement" type="tns:VisibilityStyleEnumFieldType" />
  <xs:complexType name="TextOverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q57="UnityEngine.UIElements" base="q57:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q57:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="clip" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowStyleEnumField" xmlns:q58="UnityEngine.UIElements" substitutionGroup="q58:BindableElement" type="tns:TextOverflowStyleEnumFieldType" />
  <xs:complexType name="StyleRuleInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q59="UnityEngine.UIElements" base="q59:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRuleInspector" xmlns:q60="UnityEngine.UIElements" substitutionGroup="q60:VisualElement" type="tns:StyleRuleInspectorType" />
  <xs:complexType name="TextShadowOffsetFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="UnityEngine.UIElements" base="q61:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0,0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowOffsetField" xmlns:q62="UnityEngine.UIElements" substitutionGroup="q62:BindableElement" type="tns:TextShadowOffsetFieldType" />
  <xs:complexType name="VisualTreeAssetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q63="UnityEngine.UIElements" base="q63:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetInspector" xmlns:q64="UnityEngine.UIElements" substitutionGroup="q64:VisualElement" type="tns:VisualTreeAssetInspectorType" />
  <xs:complexType name="TextAlignToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q65="UnityEngine.UIElements" base="q65:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="UpperLeft" name="value" xmlns:q66="UnityEngine" type="q66:TextAnchorType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignToggleField" xmlns:q67="UnityEngine.UIElements" substitutionGroup="q67:BindableElement" type="tns:TextAlignToggleFieldType" />
  <xs:complexType name="BorderBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:BorderBoxModelFieldType" />
  <xs:complexType name="LengthFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute default="true" name="value" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideFoldout" substitutionGroup="tns:OverrideRow" type="tns:OverrideFoldoutType" />
  <xs:element name="LengthFoldoutField" substitutionGroup="tns:OverrideFoldout" type="tns:LengthFoldoutFieldType" />
  <xs:complexType name="UnityTextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q68="UnityEngine.UIElements" base="q68:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q68:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnityTextAlignStyleEnumField" xmlns:q69="UnityEngine.UIElements" substitutionGroup="q69:BindableElement" type="tns:UnityTextAlignStyleEnumFieldType" />
  <xs:complexType name="BorderRadiusFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderRadiusFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderRadiusFoldoutType" />
  <xs:complexType name="MarginFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarginFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:MarginFoldoutFieldType" />
  <xs:complexType name="PopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q70="UnityEngine.UIElements" base="q70:VisualElementType">
        <xs:choice />
        <xs:attribute default="false" name="uses-real-window" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Popup" xmlns:q71="UnityEngine.UIElements" substitutionGroup="q71:VisualElement" type="tns:PopupType" />
  <xs:complexType name="StyleFloatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q72="UnityEngine.UIElements" base="q72:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q72:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFloatField" xmlns:q73="UnityEngine.UIElements" substitutionGroup="q73:BindableElement" type="tns:StyleFloatFieldType" />
  <xs:complexType name="StyleFontDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q74="UnityEngine.UIElements" base="q74:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q74:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontDefinitionField" xmlns:q75="UnityEngine.UIElements" substitutionGroup="q75:BindableElement" type="tns:StyleFontDefinitionFieldType" />
  <xs:complexType name="StyleRuleHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="rule-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRuleHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:StyleRuleHeaderType" />
  <xs:complexType name="TransformOriginStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q76="UnityEngine.UIElements" base="q76:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="top left" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransformOriginStyleField" xmlns:q77="UnityEngine.UIElements" substitutionGroup="q77:BindableElement" type="tns:TransformOriginStyleFieldType" />
  <xs:complexType name="UxmlAttributesViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q78="UnityEngine.UIElements" base="q78:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributesView" xmlns:q79="UnityEngine.UIElements" substitutionGroup="q79:VisualElement" type="tns:UxmlAttributesViewType" />
  <xs:complexType name="BackgroundRepeatStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q80="UnityEngine.UIElements" base="q80:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundRepeatStyleField" xmlns:q81="UnityEngine.UIElements" substitutionGroup="q81:BindableElement" type="tns:BackgroundRepeatStyleFieldType" />
  <xs:complexType name="StylePropertyBindingType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element xmlns:q82="UnityEngine.UIElements" ref="q82:VisualElement" />
    </xs:choice>
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute default="OnSourceChanged" name="update-trigger" xmlns:q83="UnityEngine.UIElements" type="q83:BindingUpdateTriggerType" />
    <xs:attribute name="style-property" type="xs:string" />
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:element name="StylePropertyBinding" type="tns:StylePropertyBindingType" />
  <xs:complexType name="BorderWidthFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderWidthFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderWidthFoldoutType" />
  <xs:complexType name="UxmlCodePreviewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="UnityEngine.UIElements" base="q84:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlCodePreview" xmlns:q85="UnityEngine.UIElements" substitutionGroup="q85:VisualElement" type="tns:UxmlCodePreviewType" />
  <xs:complexType name="NewSelectorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q86="UnityEngine.UIElements" base="q86:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewSelectorField" xmlns:q87="UnityEngine.UIElements" substitutionGroup="q87:VisualElement" type="tns:NewSelectorFieldType" />
  <xs:complexType name="UxmlAttributeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q88="UnityEngine.UIElements" base="q88:VisualElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="binding-path" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeField" xmlns:q89="UnityEngine.UIElements" substitutionGroup="q89:VisualElement" type="tns:UxmlAttributeFieldType" />
  <xs:complexType name="FlexDirectionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q90="UnityEngine.UIElements" base="q90:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q90:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="column" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlexDirectionStyleEnumField" xmlns:q91="UnityEngine.UIElements" substitutionGroup="q91:BindableElement" type="tns:FlexDirectionStyleEnumFieldType" />
  <xs:complexType name="UICanvasType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="UnityEngine.UIElements" base="q92:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UICanvas" xmlns:q93="UnityEngine.UIElements" substitutionGroup="q93:VisualElement" type="tns:UICanvasType" />
  <xs:complexType name="WhiteSpaceStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q94="UnityEngine.UIElements" base="q94:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q94:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WhiteSpaceStyleEnumField" xmlns:q95="UnityEngine.UIElements" substitutionGroup="q95:BindableElement" type="tns:WhiteSpaceStyleEnumFieldType" />
  <xs:complexType name="UIViewportType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q96="UnityEngine.UIElements" base="q96:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UIViewport" xmlns:q97="UnityEngine.UIElements" substitutionGroup="q97:VisualElement" type="tns:UIViewportType" />
  <xs:complexType name="StyleInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q98="UnityEngine.UIElements" base="q98:VisualElementType">
        <xs:choice />
        <xs:attribute name="content-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleInspectorElement" xmlns:q99="UnityEngine.UIElements" substitutionGroup="q99:VisualElement" type="tns:StyleInspectorElementType" />
  <xs:complexType name="CanvasSettingsHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CanvasSettingsHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:CanvasSettingsHeaderType" />
  <xs:complexType name="AlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q100="UnityEngine.UIElements" base="q100:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q100:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="auto" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute name="auto-tooltip" type="xs:string" />
        <xs:attribute name="flex-start-tooltip" type="xs:string" />
        <xs:attribute name="center-tooltip" type="xs:string" />
        <xs:attribute name="flex-end-tooltip" type="xs:string" />
        <xs:attribute name="stretch-tooltip" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlignStyleEnumField" xmlns:q101="UnityEngine.UIElements" substitutionGroup="q101:BindableElement" type="tns:AlignStyleEnumFieldType" />
  <xs:complexType name="StyleTranslateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q102="UnityEngine.UIElements" base="q102:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q102:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTranslateField" xmlns:q103="UnityEngine.UIElements" substitutionGroup="q103:BindableElement" type="tns:StyleTranslateFieldType" />
  <xs:complexType name="TextAutoSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q104="UnityEngine.UIElements" base="q104:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAutoSizeStyleField" xmlns:q105="UnityEngine.UIElements" substitutionGroup="q105:BindableElement" type="tns:TextAutoSizeStyleFieldType" />
  <xs:complexType name="VisualElementAttributesInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UxmlAttributesViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementAttributesInspectorElement" substitutionGroup="tns:UxmlAttributesView" type="tns:VisualElementAttributesInspectorElementType" />
  <xs:complexType name="OverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q106="UnityEngine.UIElements" base="q106:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q106:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverflowStyleEnumField" xmlns:q107="UnityEngine.UIElements" substitutionGroup="q107:BindableElement" type="tns:OverflowStyleEnumFieldType" />
  <xs:complexType name="PaddingFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaddingFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:PaddingFoldoutFieldType" />
  <xs:complexType name="StyleCursorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q108="UnityEngine.UIElements" base="q108:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q108:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default=" 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleCursorField" xmlns:q109="UnityEngine.UIElements" substitutionGroup="q109:BindableElement" type="tns:StyleCursorFieldType" />
  <xs:complexType name="StyleSheetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q110="UnityEngine.UIElements" base="q110:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleSheetInspector" xmlns:q111="UnityEngine.UIElements" substitutionGroup="q111:VisualElement" type="tns:StyleSheetInspectorType" />
  <xs:complexType name="FilterStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q112="UnityEngine.UIElements" base="q112:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterStyleField" xmlns:q113="UnityEngine.UIElements" substitutionGroup="q113:BindableElement" type="tns:FilterStyleFieldType" />
  <xs:complexType name="BorderColorFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderColorFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderColorFoldoutType" />
  <xs:complexType name="StyleTextAutoSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q114="UnityEngine.UIElements" base="q114:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q114:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextAutoSizeField" xmlns:q115="UnityEngine.UIElements" substitutionGroup="q115:BindableElement" type="tns:StyleTextAutoSizeFieldType" />
  <xs:complexType name="StyleBackgroundPositionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q116="UnityEngine.UIElements" base="q116:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q116:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundPositionField" xmlns:q117="UnityEngine.UIElements" substitutionGroup="q117:BindableElement" type="tns:StyleBackgroundPositionFieldType" />
  <xs:complexType name="TextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q118="UnityEngine.UIElements" base="q118:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowField" xmlns:q119="UnityEngine.UIElements" substitutionGroup="q119:BindableElement" type="tns:TextShadowFieldType" />
  <xs:complexType name="VisualElementInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q120="UnityEngine.UIElements" base="q120:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementInspector" xmlns:q121="UnityEngine.UIElements" substitutionGroup="q121:VisualElement" type="tns:VisualElementInspectorType" />
  <xs:complexType name="TransformOriginSelectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q122="UnityEngine.UIElements" base="q122:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransformOriginSelector" xmlns:q123="UnityEngine.UIElements" substitutionGroup="q123:VisualElement" type="tns:TransformOriginSelectorType" />
  <xs:complexType name="StyleLengthFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q124="UnityEngine.UIElements" base="q124:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q124:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute default="true" name="show-unit-as-dropdown" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleLengthField" xmlns:q125="UnityEngine.UIElements" substitutionGroup="q125:BindableElement" type="tns:StyleLengthFieldType" />
  <xs:complexType name="StyleScaleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q126="UnityEngine.UIElements" base="q126:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q126:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleScaleField" xmlns:q127="UnityEngine.UIElements" substitutionGroup="q127:BindableElement" type="tns:StyleScaleFieldType" />
  <xs:complexType name="StyleBackgroundSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q128="UnityEngine.UIElements" base="q128:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q128:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundSizeField" xmlns:q129="UnityEngine.UIElements" substitutionGroup="q129:BindableElement" type="tns:StyleBackgroundSizeFieldType" />
  <xs:complexType name="StyleRotateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q130="UnityEngine.UIElements" base="q130:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q130:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRotateField" xmlns:q131="UnityEngine.UIElements" substitutionGroup="q131:BindableElement" type="tns:StyleRotateFieldType" />
  <xs:complexType name="StyleColorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q132="UnityEngine.UIElements" base="q132:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q132:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleColorField" xmlns:q133="UnityEngine.UIElements" substitutionGroup="q133:BindableElement" type="tns:StyleColorFieldType" />
  <xs:complexType name="StyleIntFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q134="UnityEngine.UIElements" base="q134:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q134:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleIntField" xmlns:q135="UnityEngine.UIElements" substitutionGroup="q135:BindableElement" type="tns:StyleIntFieldType" />
  <xs:complexType name="StylePercentSliderFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q136="UnityEngine.UIElements" base="q136:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q136:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StylePercentSliderField" xmlns:q137="UnityEngine.UIElements" substitutionGroup="q137:BindableElement" type="tns:StylePercentSliderFieldType" />
  <xs:complexType name="PercentSliderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q138="UnityEngine.UIElements" base="q138:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PercentSlider" xmlns:q139="UnityEngine.UIElements" substitutionGroup="q139:BindableElement" type="tns:PercentSliderType" />
  <xs:complexType name="UssCodePreviewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q140="UnityEngine.UIElements" base="q140:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UssCodePreview" xmlns:q141="UnityEngine.UIElements" substitutionGroup="q141:VisualElement" type="tns:UssCodePreviewType" />
  <xs:complexType name="VariablesInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q142="UnityEngine.UIElements" base="q142:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VariablesInspector" xmlns:q143="UnityEngine.UIElements" substitutionGroup="q143:VisualElement" type="tns:VariablesInspectorType" />
  <xs:complexType name="StyleRatioFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q144="UnityEngine.UIElements" base="q144:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q144:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRatioField" xmlns:q145="UnityEngine.UIElements" substitutionGroup="q145:BindableElement" type="tns:StyleRatioFieldType" />
  <xs:complexType name="MaterialDefinitionStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q146="UnityEngine.UIElements" base="q146:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaterialDefinitionStyleField" xmlns:q147="UnityEngine.UIElements" substitutionGroup="q147:BindableElement" type="tns:MaterialDefinitionStyleFieldType" />
  <xs:complexType name="BindingDataSourceViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q148="UnityEngine.UIElements" base="q148:BindableElementType">
        <xs:choice />
        <xs:attribute name="binding-editing-mode" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindingDataSourceView" xmlns:q149="UnityEngine.UIElements" substitutionGroup="q149:BindableElement" type="tns:BindingDataSourceViewType" />
  <xs:complexType name="DisplayStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q150="UnityEngine.UIElements" base="q150:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q150:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flex" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayStyleEnumField" xmlns:q151="UnityEngine.UIElements" substitutionGroup="q151:BindableElement" type="tns:DisplayStyleEnumFieldType" />
  <xs:complexType name="VisualElementBindingsInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UxmlAttributesViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementBindingsInspectorElement" substitutionGroup="tns:UxmlAttributesView" type="tns:VisualElementBindingsInspectorElementType" />
  <xs:complexType name="StyleTransformOriginFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q152="UnityEngine.UIElements" base="q152:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q152:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="top left" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransformOriginField" xmlns:q153="UnityEngine.UIElements" substitutionGroup="q153:BindableElement" type="tns:StyleTransformOriginFieldType" />
  <xs:complexType name="StyleSheetsNewSelectorHelpTipsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q154="UnityEngine.UIElements" base="q154:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleSheetsNewSelectorHelpTips" xmlns:q155="UnityEngine.UIElements" substitutionGroup="q155:VisualElement" type="tns:StyleSheetsNewSelectorHelpTipsType" />
  <xs:complexType name="FontStyleToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q156="UnityEngine.UIElements" base="q156:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="Normal" name="value" xmlns:q157="UnityEngine" type="q157:FontStyleType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleToggleField" xmlns:q158="UnityEngine.UIElements" substitutionGroup="q158:BindableElement" type="tns:FontStyleToggleFieldType" />
  <xs:complexType name="StyleTextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q159="UnityEngine.UIElements" base="q159:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q159:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextShadowField" xmlns:q160="UnityEngine.UIElements" substitutionGroup="q160:BindableElement" type="tns:StyleTextShadowFieldType" />
  <xs:complexType name="StyleBackgroundRepeatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q161="UnityEngine.UIElements" base="q161:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q161:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundRepeatField" xmlns:q162="UnityEngine.UIElements" substitutionGroup="q162:BindableElement" type="tns:StyleBackgroundRepeatFieldType" />
  <xs:complexType name="CanvasSettingsInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q163="UnityEngine.UIElements" base="q163:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CanvasSettingsInspector" xmlns:q164="UnityEngine.UIElements" substitutionGroup="q164:VisualElement" type="tns:CanvasSettingsInspectorType" />
</xs:schema>