UIElementsSchema/Unity.Timeline.Foundation.Widgets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.Timeline.Foundation.Widgets" elementFormDefault="qualified" targetNamespace="Unity.Timeline.Foundation.Widgets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="TimeAreaType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
        <xs:attribute name="display-start-time" type="xs:double" />
        <xs:attribute name="display-end-time" type="xs:double" />
        <xs:attribute name="allow-negative-ticks" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeArea" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:TimeAreaType" />
  <xs:complexType name="TimeGridType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
        <xs:attribute name="display-start-time" type="xs:double" />
        <xs:attribute name="display-end-time" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeGrid" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:TimeGridType" />
  <xs:complexType name="TimeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="show-labels" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeField" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:TimeFieldType" />
  <xs:complexType name="ContextMenuButtonType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContextMenuButton" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:ContextMenuButtonType" />
  <xs:complexType name="PlayControlsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayControls" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:VisualElement" type="tns:PlayControlsType" />
  <xs:complexType name="TimeRangeScrollerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeRangeScroller" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:TimeRangeScrollerType" />
  <xs:complexType name="CanvasOverlayManagerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverlayManagerType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverlayManagerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverlayManager" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:VisualElement" type="tns:OverlayManagerType" />
  <xs:element name="CanvasOverlayManager" substitutionGroup="tns:OverlayManager" type="tns:CanvasOverlayManagerType" />
  <xs:complexType name="BreadcrumbType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="UnityEngine.UIElements" base="q15:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Breadcrumb" xmlns:q16="UnityEngine.UIElements" substitutionGroup="q16:VisualElement" type="tns:BreadcrumbType" />
</xs:schema>